openapi: 3.0.3
info:
  title: ADX API Documentation
  description: |-
    技术框架：
    
    前端 https://github.com/cool-team-official/cool-admin-vue
    - 1. 支持多语言(請參考文件裡的字串表active.en.json)
    - 2. eps功能與cool框架的相依性高, 請自行評估是否保留
    
    後端 https://github.com/cool-team-official/cool-admin-go 
    - 1. config.yaml添加支持saas需求, 需支持填入log, company, db, hive, oss, web等資訊(參考config_prod.ini)
    - 2. TOKEN 需帶入saas_id, uid, company, create time
    - 3. 每天落日誌 檔名需包含日期
    
    Some useful links:
    - [CoolAdminGo文档](https://cool-team-official.github.io/cool-admin-go/#%E6%96%87%E6%A1%A3%E7%9B%AE%E5%BD%95)
    - [CoolAdminVue文档](https://cool-js.com/admin/vue/quick.html#%E5%BC%80%E5%8F%91%E5%B7%A5%E5%85%B7)
    
    Github:
    - 前端: https://github.com/ML-SSP/adx_website.git
    - 後端: https://github.com/ML-SSP/adx_api_server.git
    - 文件: https://github.com/ML-SSP/adx-api-docs.git
    
    功能需求：
    - 1. system
      - 1. Manage User (維持原本Cool的功能並新增欄位)
      - 2. Manage Role (維持原本Cool的功能並修改成符合ADX的角色)
        - 現有的角色: "sysadmin", "admin", "public", "staff", "manager", "partner", "direct publisher partner"
      - 3. Manage Company 
      - 4. Manage Report
      - 5. Manage Config
      - 6. Operation Log (維持原本Cool的"請求日誌"功能)
      - 7. SAAS Settings
      - 8. SAAS Strategy
    - 2. Tool
      - 1. Custom targeting
      - 其他由我們協作
    - 3. Manage Direct Pub
    - 4. Manage SSP
    - 5. Open Auction
    - 6. Private Marketplace
    - 7. Daily Operation
    - 8. Support Guides
    - 9. Welcome
    
    
  termsOfService: http://swagger.io/terms/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.5
servers:
  - url: https://realtimebidding.medialink-x.com/dev
tags:
  - name: ADX
    description: OpenAPI specification
paths:
  /admin/base/open/captcha:
    get:
      tags:
        - base/open
      description: Get an captcha by Id
      operationId: getCaptcha
      parameters:
        - name: height
          in: query
          description: captcha height
          required: true
          explode: true
          schema:
            type: integer
            default: available
        - name: width
          in: query
          description: captcha width
          required: true
          explode: true
          schema:
            type: integer
            default: available    
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/captcha'          
        '400':
          description: Invalid captcha value

  /admin/base/open/login:          
    post:
      tags:
        - base/open
      description: login
      operationId: login
      requestBody:
        description: login body
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: "admin"
                password:
                  type: string
                  example: "123456"
                captchaId:
                  type: string
                  example: "qjel1e0248ycp0d9q4gq94g1i0zusefi"
                verifyCode:
                  type: string
                  example: "1899"    
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      expire:
                        type: integer
                        format: int64
                      token:
                        type: string
                      refreshExpires:
                        type: integer
                        format: int64
                      refreshToken:
                        type: string
                required:
                - code
                - message
                    
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"
                    data: 
                      expire: 7200
                      token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc1JlZnJlc…zQ0fQ.A-A0jfkub9tAExEhoWczNWbnleUlpgxSKloRl1PSDGk"
                      refreshExpires: 1296000
                      refreshToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc1JlZnJlc…1NDR9.juw9DSk3SfjdvYzZbVsPUW4VOLqmGv-eS1Cg458RfeQ"
                code1001:
                  value: 
                    code: 1001
                    meddage: "账户或密码不正确~"
    
        '405':
          description: Invalid input
  /admin/base/open/eps:
    get:
      tags:
        - base/open
      description: Returns eps data
      operationId: getEps
      
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      base:
                        type: object
                        properties:
                          api:
                            type: array
                            items:
                              $ref: '#/components/schemas/EpsApi'  
                          columns:    
                            type: array
                            items:
                              $ref: '#/components/schemas/EpsColumns'  
                          module:
                            type: string
                            example: "demo"
                          prefix: 
                            type: string
                            example: "/admin/demo/demo_sample"
                      task:
                        type: object
                        properties:
                          api:
                            type: array
                            items:
                              $ref: '#/components/schemas/EpsApi'  
                          columns:    
                            type: array
                            items:
                              $ref: '#/components/schemas/EpsColumns'  
                          module:
                            type: string
                            example: "demo"
                          prefix: 
                            type: string
                            example: "/admin/demo/demo_sample"      

  /admin/base/comm/logout:          
    post:
      tags:
        - base/comm
      description: logout
      operationId: logout
 
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"
      security:
        - bearerAuth: []
  /admin/base/comm/permmenu:
    get:
      tags:
        - base/comm
      description: Returns permmenu data
      operationId: getPermMenu
      
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      menu:
                        type: array
                        items:
                          $ref: '#/components/schemas/Menu'  
                      perm:    
                        type: array
                        items:
                          type: string
                          example: "base:sys:menu:add"
      security:
        - bearerAuth: []                         
  /admin/base/comm/person:
    get:
      tags:
        - base/comm
      description: Returns log-in user data
      operationId: getLoginUserData
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      uid:
                        type: integer
                        format: int64
                      createTime:
                        type: string
                      account:
                        type: string
                      name:
                        type: string
                      email: 
                        type: string
                      headImg:
                        type: string
                      nickname:
                        type: string
                      passwordV:
                        type: integer
                        format: int64 
                      company:
                        type: integer
                        format: int64
                      type:
                        type: string
                      subtype:
                        type: string
                      ids:
                        type: string
                      status:
                        type: integer
                        format: int64
                      remark:
                        type: string
                      updateTime:
                        type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      id: 1
                      createTime: '2022-11-01 15:01:03.000'
                      account: 'admin'
                      name: 'Leo'
                      email: "team@cool-js.com"
                      headImg: "https://cool-admin-pro.oss-cn-shanghai.aliyuncs.com/app/c8128c24-d0e9-4e07-9c0d-6f65446e105b.png"
                      nickname: "Leo"
                      passwordV: 6  
                      company: 1
                      status: 1
                      type: 'saas'
                      subtype: ''
                      ids: ''
                      remark: ''
                      updateTime: '2022-11-01 15:01:03.000'
        '400':
          description: Invalid ID supplied
      security:
        - bearerAuth: []   
  /admin/base/comm/personUpdate:
    post:
      tags:
        - base/comm
      description: update data of person.
      operationId: updatePersonData
      requestBody:
        required: true
        description: update person data body
        content:
          application/json:
            schema:
              type: object
              properties:
                uid:
                  type: integer
                  format: int64
                headImg:
                  type: string
                  example: "https://cool-admin-pro.oss-cn-shanghai.aliyuncs.com/app/c8128c24-d0e9-4e07-9c0d-6f65446e105b.png"
                nickname:
                  type: string
                  example: "管理员"
                passwordV:
                  type: integer
                  format: int64
                password: 
                  type: string
                  example: 'b77ef5b824c936300f675ebd5a72e186'  
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                code54:
                  value: 
                    code: 54
                    message: "data list cannot be empty"    
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []      
  /admin/base/sys/user/page:
    post:
      tags:
        - base/sys
      description: Page name is 'Manage User'. Get data of user management page. Below the permissions of the logged-in role can be displayed
      operationId: getUserPage
      requestBody:
        required: true
        description: user page body
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  format: int64
                  example: 1
                size:
                  type: integer
                  format: int64
                  example: 20
              required:
                - page
                - size  
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserPage'   
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int64
                            example: 1  
                          size:
                            type: integer
                            format: int64
                            example: 20   
                          total:
                            type: integer
                            format: int64
                            example: 6 
        '400':
          description: Invalid tag value
      security:
        - bearerAuth: []
  /admin/base/sys/user/info:
    get:
      tags:
        - base/sys
      description: Returns a single user data
      operationId: getUserdataById
      parameters:
        - name: uid
          in: query
          description: ID of user to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        $ref: '#/components/schemas/UserPage'  
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      uid: 1
                      createTime: '2022-11-01 15:01:03.000'
                      account: 'admin'
                      password: 'b77ef5b824c936300f675ebd5a72e186'
                      name: 'Leo'
                      roleIdList: [1, 10, 13]
                      email: "team@cool-js.com"
                      headImg: "https://cool-admin-pro.oss-cn-shanghai.aliyuncs.com/app/c8128c24-d0e9-4e07-9c0d-6f65446e105b.png"
                      nickname: "Leo"
                      passwordV: 6  
                      company: 1
                      type: 'saas'
                      subtype: ''
                      ids: 1 
                      remark: ''
        '400':
          description: Invalid ID supplied
      security:
        - bearerAuth: []
  /admin/base/sys/user/add:
    post:
      tags:
        - base/sys
      description: add data of user management page.
      operationId: addUserData
      requestBody:
        required: true
        description: add user data body
        content:
          application/json:
            schema:
              type: object
              properties:
                account:
                  type: string
                  example: 'admin'
                password:
                  type: string
                  example: 'b77ef5b824c936300f675ebd5a72e186'            
                name:
                  type: string
                  example: 'Leo'
                email: 
                  type: string
                  example: "team@cool-js.com"
                headImg: 
                  type: string
                  example: "https://cool-admin-pro.oss-cn-shanghai.aliyuncs.com/app/c8128c24-d0e9-4e07-9c0d-6f65446e105b.png"
                nickname: 
                  type: string
                  example: "Leo"
                passwordV: 
                  type: integer
                  format: int64
                  example: 6    
                roleIdList:
                  type: array
                  items: 
                    type: integer
                    format: int64
                    example: [ 1, 34 ]
                company:
                  type: integer
                  format: int64
                  example: 1
                type:
                  type: string
                  example: 'saas'
                subtype:
                  type: string
                  example: ''
                ids:
                  type: string
                  example: ''
                status:
                  type: integer
                  format: int64
                  example: 1
              required:
                - account
                - password
                - role
                - type
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      uid: 1          
        '400':
          description: Invalid tag value
      security:
        - bearerAuth: []
  /admin/base/sys/user/delete:
    post:
      tags:
        - base/sys
      description: Deletes a user data
      operationId: deleteUser
      requestBody:
        required: true
        description: ids that need to be deleted
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int64
                    example: 15
            
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"
      security:
        - bearerAuth: []
  /admin/base/sys/user/update:
    post:
      tags:
        - base/sys
      description: update data of user management page.
      operationId: updateUserData
      requestBody:
        required: true
        description: update user data body
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                  example: 20
                createTime: 
                  type: string
                  example: "2022-12-14 14:50:06"
                updateTime: 
                  type: string
                  example: "2022-12-14 15:50:06"  
                account:
                  type: string
                  example: 'admin'
                password:
                  type: string
                  example: 'b77ef5b824c936300f675ebd5a72e186'            
                name:
                  type: string
                  example: 'Leo'
                email: 
                  type: string
                  example: "team@cool-js.com"
                headImg: 
                  type: string
                  example: "https://cool-admin-pro.oss-cn-shanghai.aliyuncs.com/app/c8128c24-d0e9-4e07-9c0d-6f65446e105b.png"
                nickname: 
                  type: string
                  example: "Leo"
                passwordV: 
                  type: integer
                  format: int64
                  example: 6     
                roleIdList:
                  type: array
                  items: 
                    type: integer
                    format: int64
                    example: [ 1, 34 ]
                company:
                  type: integer
                  format: int64
                  example: 1
                type:
                  type: string
                  example: 'saas'
                subtype:
                  type: string
                  example: ''
                ids:
                  type: string
                  example: ''
                status:
                  type: integer
                  format: int64
                  example: 1
              required:
                - account
                - password
                - role
                - type
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"        
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []
  /admin/base/sys/role/page:
    post:
      tags:
        - base/sys
      description: Page name is 'Manage Role'. Get data of role management page. This page only role "sysadmin" and "admin" can be displayed
      operationId: getRolePage
      requestBody:
        required: true
        description: role page body
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  format: int64
                  example: 1
                size:
                  type: integer
                  format: int64
                  example: 20
              required:
                - page
                - size  
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          $ref: '#/components/schemas/RolePage'   
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int64
                            example: 1  
                          size:
                            type: integer
                            format: int64
                            example: 20   
                          total:
                            type: integer
                            format: int64
                            example: 6 
        '400':
          description: Invalid tag value   
      security:
        - bearerAuth: []
  /admin/base/sys/role/info:
    get:
      tags:
        - base/sys
      description: Returns a single role data
      operationId: getRoleDataById
      parameters:
        - name: id
          in: query
          description: ID of user to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      createTime:
                        type: string
                      id: 
                        type: integer
                        format: int64
                      label:
                        type: string
                      name:
                        type: string
                      remark:
                        type: string
                      menuIdList:
                        type: array
                        items:
                          type: integer
                          format: int64
                      updateTime:
                        type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      id: 1
                      createTime: '2022-11-01 15:01:03.000'
                      label: 'sysadmin'
                      name: '系统管理员'
                      menuIdList: [ 1, 96, 45, 43 ]
                      remark: ''
                      company: 1
                      updateTime: '2022-11-01 15:01:03.000'
                code1001:
                  value:
                    code: 1001
                    message: "角色标识不能重复"
        '400':
          description: Invalid ID supplied
      security:
        - bearerAuth: []
  /admin/base/sys/role/add:
    post:
      tags:
        - base/sys
      description: add data of role management page.
      operationId: addRoleData
      requestBody:
        required: true
        description: add role data body
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  example: 'sysadmin'
                name:
                  type: string
                  example: '系统管理员'
                remark:
                  type: string
                  example: ''
                menuIdList:
                  type: array
                  items:
                    type: integer
                    format: int64 
                    example: [ 1, 34 ]
              required:
                - name
                - label
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      id: 1          
        '400':
          description: Invalid tag value
      security:
        - bearerAuth: []
  /admin/base/sys/role/update:
    post:
      tags:
        - base/sys
      description: update data of role management page.
      operationId: updateRoleData
      requestBody:
        required: true
        description: update role data body
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                  example: 20
                createTime: 
                  type: string
                  example: "2022-12-14 14:50:06"
                updateTime: 
                  type: string
                  example: "2022-12-14 15:50:06"
                label:
                  type: string
                  example: 'sysadmin'
                name:
                  type: string
                  example: '系统管理员'
                remark:
                  type: string
                  example: ''
                menuIdList:
                  type: array
                  items:
                    type: integer
                    format: int64 
                    example: [ 1, 34 ]
              required:
                - name
                - label
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"        
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []
  /admin/base/sys/role/delete:
    post:
      tags:
        - base/sys
      description: Deletes a role data
      operationId: deleteRole
      requestBody:
        required: true
        description: ids that need to be deleted
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int64
                    example: 15
            
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"   
      security:
        - bearerAuth: []
  /admin/base/sys/menu/list:
    post:
      tags:
        - base/sys
      description: Get data of menu management page. This page only role "sysadmin" can be displayed
      operationId: getMenuList
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MenuList'   
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []
  /admin/base/sys/menu/info:
    get:
      tags:
        - base/sys
      description: Returns a single menu data
      operationId: getMenuDataById
      parameters:
        - name: id
          in: query
          description: ID of menu to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    $ref: '#/components/schemas/MenuList' 
        '400':
          description: Invalid ID supplied  
      security:
        - bearerAuth: []
  /admin/base/sys/menu/delete:
    post:
      tags:
        - base/sys
      description: Deletes menu data
      operationId: deleteMenu
      requestBody:
        required: true
        description: ids that need to be deleted
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int64
                    example: 15
            
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success" 
      security:
        - bearerAuth: []
  /admin/base/sys/menu/add:
    post:
      tags:
        - base/sys
      description: add data of menu management page.
      operationId: addMenuData
      requestBody:
        required: true
        description: add user data body
        content:
          application/json:
            schema:
              type: object
              properties:
                icon: 
                  type: string
                  example: "icon-workbench"
                isShow: 
                  type: integer
                  format: int64
                  example: 1
                keepAlive: 
                  type: integer
                  format: int64
                  example: 1
                name: 
                  type: string
                  example: "工作台"
                orderNum: 
                  type: integer
                  format: int64
                  example: 1
                parentId: 
                  type: string
                  example: ''
                perms: 
                  type: string
                  example: ''
                router: 
                  type: string
                  example: "/"
                type: 
                  type: integer
                  format: int64
                  example: 0
                viewPath: 
                  type: string
                  example: ""
              required:
                - name
                - type
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      id: 1          
        '400':
          description: Invalid tag value 
      security:
        - bearerAuth: []
  /admin/base/sys/menu/update:
    post:
      tags:
        - base/sys
      description: update data of menu management page.
      operationId: updateMenuData
      requestBody:
        required: true
        description: update menu data body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuList'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"        
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []
  /admin/base/sys/company/page:
    post:
      tags:
        - base/sys
      description: Page name is 'Manage Company'. Get data of company management page. This page only role "sysadmin" and "admin" can be displayed
      operationId: getCompanyPage
      requestBody:
        required: true
        description: company page body
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  format: int64
                  example: 1
                size:
                  type: integer
                  format: int64
                  example: 20
              required:
                - page
                - size  
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          $ref: '#/components/schemas/CompanyPage'   
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int64
                            example: 1  
                          size:
                            type: integer
                            format: int64
                            example: 20   
                          total:
                            type: integer
                            format: int64
                            example: 6 
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []
  /admin/base/sys/company/info:
    get:
      tags:
        - base/sys
      description: Returns a single company data
      operationId: getCompanyDataById
      parameters:
        - name: id
          in: query
          description: ID of user to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyPage'
        '400':
          description: Invalid ID supplied   
      security:
        - bearerAuth: []
  /admin/base/sys/company/add:
    post:
      tags:
        - base/sys
      description: add data of company management page.
      operationId: addCompanyData
      requestBody:
        required: true
        description: add company data body
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  example: "meitu"
                srcsys:
                  type: string
                  description: option 1. adx_dsp 2. adx_pub 3. dsp_platform 4. saas
                  example: "adx_dsp"
                country:
                  type: string
                  example: "China"
                phone:
                  type: string
                  example: "0901567890"     
                contact:
                  type: string
                  example: "Mr. Lin"        
                email:
                  type: string
                  example: "medialink-x@medialink-x.com"
                uid:
                  type: integer
                  format: int64
                  example: 10
                am_owner:
                  type: integer
                  format: int64
                  example: 10
                bd_owner:
                  type: integer
                  format: int64
                  example: 10
                gid:
                  type: integer
                  format: int64
                  example: 10
                available_inventory:
                  type: string
                  description: split by "|"
                  example: "360|465"
                remark:
                  type: string
                  example: ''
              required:
                - company
                - srcsys
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      id: 1          
        '400':
          description: Invalid tag value   
      security:
        - bearerAuth: []
  /admin/base/sys/company/delete:
    post:
      tags:
        - base/sys
      description: Deletes company data
      operationId: deleteCompany
      requestBody:
        required: true
        description: ids that need to be deleted
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int64
                    example: 15
            
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
      security:
        - bearerAuth: []
  /admin/base/sys/company/update:
    post:
      tags:
        - base/sys
      description: update data of company management page.
      operationId: updateCompanyData
      requestBody:
        required: true
        description: update company data body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyPage'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"        
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []
  /admin/base/sys/report/page:
    post:
      tags:
        - base/sys
      description: Page name is 'Manage Report'. Get data of report management page. This page only role "sysadmin" and "admin" can be displayed.
      operationId: getReportPage
      requestBody:
        required: true
        description: report page body
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  format: int64
                  example: 1
                size:
                  type: integer
                  format: int64
                  example: 20
              required:
                - page
                - size  
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          $ref: '#/components/schemas/ReportPage'   
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int64
                            example: 1  
                          size:
                            type: integer
                            format: int64
                            example: 20   
                          total:
                            type: integer
                            format: int64
                            example: 6 
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []
  /admin/base/sys/report/info:
    get:
      tags:
        - base/sys
      description: Returns a single report data
      operationId: getReportDataById
      parameters:
        - name: id
          in: query
          description: ID of report to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportPage'
        '400':
          description: Invalid ID supplied   
      security:
        - bearerAuth: []        
  /admin/base/sys/report/add:
    post:
      tags:
        - base/sys
      description: add data of report management page.
      operationId: addReportData
      requestBody:
        required: true
        description: add report data body
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: string
                  example: "Agent Report"
                name:
                  type: string
                  example: "SSP Report"
                company:
                  type: integer
                  format: int64
                  example: 1
                url:
                  type: string
                  example: "https://adreport.smartconnect-sg.net:9099/..."
                order:
                  type: integer
                  format: int64
                  example: 0
                gid:
                  type: integer
                  format: int64
                  example: 10
              required:
                - category
                - name
                - company
                - url
                - order
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      id: 1          
        '400':
          description: Invalid tag value    
      security:
        - bearerAuth: []
  /admin/base/sys/report/delete:
    post:
      tags:
        - base/sys
      description: Deletes report data
      operationId: deleteReport
      requestBody:
        required: true
        description: ids that need to be deleted
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int64
                    example: 15
            
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"   
      security:
        - bearerAuth: []              
  /admin/base/sys/report/update:
    post:
      tags:
        - base/sys
      description: update data of report management page.
      operationId: updateReportData
      requestBody:
        required: true
        description: update report data body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportPage'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"        
        '400':
          description: Invalid tag value    
      security:
        - bearerAuth: []
  /admin/base/sys/config/page:
    post:
      tags:
        - base/sys
      description: Page name is 'Manage Config'. Get data of config management page. This page only role "sysadmin" and "admin" can be displayed.
      operationId: getConfigPage
      requestBody:
        required: true
        description: config page body
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  format: int64
                  example: 1
                size:
                  type: integer
                  format: int64
                  example: 20
              required:
                - page
                - size  
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          $ref: '#/components/schemas/ConfigPage'   
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int64
                            example: 1  
                          size:
                            type: integer
                            format: int64
                            example: 20   
                          total:
                            type: integer
                            format: int64
                            example: 6 
        '400':
          description: Invalid tag value
      security:
        - bearerAuth: []   
  /admin/base/sys/config/info:
    get:
      tags:
        - base/sys
      description: Returns a single config data
      operationId: getConfigDataById
      parameters:
        - name: id
          in: query
          description: ID of config to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigPage'
        '400':
          description: Invalid ID supplied   
      security:
        - bearerAuth: []        
  /admin/base/sys/config/add:
    post:
      tags:
        - base/sys
      description: add data of config management page.
      operationId: addConfigData
      requestBody:
        required: true
        description: add config data body
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  example: "bundle_black_keywords"
                value:
                  type: string
                  example: "sex|porn|adult"
                gid:
                  type: integer
                  format: int64
                  example: 10
              required:
                - key
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      id: 1          
        '400':
          description: Invalid tag value    
      security:
        - bearerAuth: []   
  /admin/base/sys/config/delete:
    post:
      tags:
        - base/sys
      description: Deletes config data
      operationId: deleteConfig
      requestBody:
        required: true
        description: ids that need to be deleted
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int64
                    example: 15
            
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
      security:
        - bearerAuth: []
  /admin/base/sys/config/update:
    post:
      tags:
        - base/sys
      description: update data of config management page.
      operationId: updateConfigData
      requestBody:
        required: true
        description: update config data body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigPage'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"        
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []        
  /admin/base/sys/saas/page:
    post:
      tags:
        - base/sys
      description: Page name is 'SAAS Settings'. Get data of saas settings management page. This page only role "sysadmin" can be displayed.
      operationId: getSaasPage
      requestBody:
        required: true
        description: saas page body
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  format: int64
                  example: 1
                size:
                  type: integer
                  format: int64
                  example: 20
              required:
                - page
                - size  
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          $ref: '#/components/schemas/SAAS'   
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int64
                            example: 1  
                          size:
                            type: integer
                            format: int64
                            example: 20   
                          total:
                            type: integer
                            format: int64
                            example: 6 
        '400':
          description: Invalid tag value
      security:
        - bearerAuth: []   
  /admin/base/sys/saas/info:
    get:
      tags:
        - base/sys
      description: Returns a single saas data
      operationId: getSaasDataById
      parameters:
        - name: id
          in: query
          description: ID of saas to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SAAS'
        '400':
          description: Invalid ID supplied   
      security:
        - bearerAuth: []        
  /admin/base/sys/saas/add:
    post:
      tags:
        - base/sys
      description: add data of saas settings management page.
      operationId: addSaasData
      requestBody:
        required: true
        description: add saas data body
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "cm"
                title:
                  type: string
                  example: "Medialink ADX"
                qps_media:
                  type: integer
                  format: int64
                  example: 0
                qps_dsp:
                  type: integer
                  format: int64
                  example: 0
                domain:
                  type: string
                  example: "http://realtimebidding.medialink-x.com"
                inbound_valid_log:
                  type: integer
                  format: int64
                  example: 1
                inbound_invalid_log:  
                  type: integer
                  format: int64
                  example: 1
                sampling_log:
                  type: integer
                  format: int64
                  example: 2
                click_log:
                  type: integer
                  format: int64
                  example: 1
                auction_log:
                  type: integer
                  format: int64
                  example: 2
                request_related_report:
                  type: integer
                  format: int64
                  example: 2
                billing_report:
                  type: integer
                  format: int64
                  example: 1 
              required:
                - name
                - title
                - domain
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      id: 1          
        '400':
          description: Invalid tag value    
      security:
        - bearerAuth: []   
  /admin/base/sys/saas/delete:
    post:
      tags:
        - base/sys
      description: Deletes saas data
      operationId: deleteSaas
      requestBody:
        required: true
        description: ids that need to be deleted
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int64
                    example: 15
            
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
      security:
        - bearerAuth: []
  /admin/base/sys/saas/update:
    post:
      tags:
        - base/sys
      description: update data of saas settings management page.
      operationId: updateSaasData
      requestBody:
        required: true
        description: update saas data body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SAAS'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"        
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []     
  /admin/base/sys/saasstrategy/page:
    post:
      tags:
        - base/sys
      description: Page name is 'SAAS Strategy'. Get data of saas strategy management page. This page only role "sysadmin" can be displayed.
      operationId: getSaasStrategyPage
      requestBody:
        required: true
        description: saas strategy page body
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  format: int64
                  example: 1
                size:
                  type: integer
                  format: int64
                  example: 20
              required:
                - page
                - size  
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          $ref: '#/components/schemas/SAASstrategy'   
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int64
                            example: 1  
                          size:
                            type: integer
                            format: int64
                            example: 20   
                          total:
                            type: integer
                            format: int64
                            example: 6 
        '400':
          description: Invalid tag value
      security:
        - bearerAuth: []   
  /admin/base/sys/saasstrategy/info:
    get:
      tags:
        - base/sys
      description: Returns a single saas strategy data
      operationId: getSaasStrategyDataById
      parameters:
        - name: id
          in: query
          description: ID of saas strategy to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SAASstrategy'
        '400':
          description: Invalid ID supplied   
      security:
        - bearerAuth: []        
  /admin/base/sys/saasstrategy/add:
    post:
      tags:
        - base/sys
      description: add data of saas strategy management page.
      operationId: addSaasStrategyData
      requestBody:
        required: true
        description: add saas data body
        content:
          application/json:
            schema:
              type: object
              properties:
                gid:
                  type: integer
                  format: int64
                  example: 3 
                key:
                  type: string
                  example: "str_1"
                value:
                  type: integer
                  format: int64
                  example: 1
                note:
                  type: string
                  example: "Low income filtered by thousand times qps (rcpm)" 
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      id: 1          
        '400':
          description: Invalid tag value    
      security:
        - bearerAuth: []   
  /admin/base/sys/saasstrategy/delete:
    post:
      tags:
        - base/sys
      description: Deletes saas strategy data
      operationId: deleteSaasStrategy
      requestBody:
        required: true
        description: ids that need to be deleted
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int64
                    example: 15
            
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
      security:
        - bearerAuth: []
  /admin/base/sys/saasstrategy/update:
    post:
      tags:
        - base/sys
      description: update data of saas strategy management page.
      operationId: updateSaasStrategyData
      requestBody:
        required: true
        description: update saas strategy data body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SAASstrategy'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"        
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []  
  /admin/base/tool/customtargeting/page:
    post:
      tags:
        - base/tool
      description: Page name is 'Custom Targeting'. Get data of custom targeting page. 
      operationId: getCustomTargetingPage
      requestBody:
        required: true
        description: custom targeting page body
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  format: int64
                  example: 1
                size:
                  type: integer
                  format: int64
                  example: 20
              required:
                - page
                - size  
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          $ref: '#/components/schemas/CustomTargetingPage'   
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int64
                            example: 1  
                          size:
                            type: integer
                            format: int64
                            example: 20   
                          total:
                            type: integer
                            format: int64
                            example: 6 
        '400':
          description: Invalid tag value
      security:
        - bearerAuth: []   
  /admin/base/tool/customtargeting/info:
    get:
      tags:
        - base/tool
      description: Returns a single custom targeting data
      operationId: getCustomTargetingDataById
      parameters:
        - name: id
          in: query
          description: ID of Custom Targeting to return
          required: true
          schema:
            type: integer
            format: int64  
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTargetingPage'
        '400':
          description: Invalid ID supplied   
      security:
        - bearerAuth: []        
  /admin/base/tool/customtargeting/add:
    post:
      tags:
        - base/tool
      description: add data of custom targeting page.
      operationId: addCustomTargetingData
      requestBody:
        required: true
        description: add custom targeting data body
        content:
          application/json:
            schema:
              type: object
              properties:
                gid:
                  type: integer
                  format: int64
                  example: 3 
                integration_type:
                  type: integer
                  format: int64
                  example: 1
                key:
                  type: string
                  example: "age"  
                display_name:
                  type: string
                  example: "age"
                posid:
                  type: string
                  example: "192001|192003"    
                key_type:
                  type: integer
                  format: int64
                  example: 1      
                value_type:
                  type: integer
                  format: int64
                  example: 1    
                description:
                  type: string
                  example: "age"
                tool_key:
                  type: array
                  items:
                    $ref: '#/components/schemas/KeyValue'
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      id: 1          
        '400':
          description: Invalid tag value    
      security:
        - bearerAuth: []   
  /admin/base/tool/customtargeting/delete:
    post:
      tags:
        - base/tool
      description: Deletes custom targeting data
      operationId: deleteCustomTargeting
      requestBody:
        required: true
        description: ids that need to be deleted
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int64
                    example: 15
            
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
      security:
        - bearerAuth: []
  /admin/base/tool/customtargeting/update:
    post:
      tags:
        - base/tool
      description: update data of custom targeting page.
      operationId: updateCustomTargetingData
      requestBody:
        required: true
        description: update custom targeting data body
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                  example: 3 
                createTime:
                  type: string 
                  example: "2022-12-15 13:35:19"
                gid:
                  type: integer
                  format: int64
                  example: 3 
                integration_type:
                  type: integer
                  format: int64
                  example: 1
                key:
                  type: string
                  example: "age"  
                display_name:
                  type: string
                  example: "age"
                posid:
                  type: string
                  example: "192001|192003"    
                key_type:
                  type: integer
                  format: int64
                  example: 1      
                value_type:
                  type: integer
                  format: int64
                  example: 1    
                description:
                  type: string
                  example: "age"
                tool_key:
                  type: array
                  items:
                    $ref: '#/components/schemas/KeyValue'
                updateTime:
                  type: string 
                  example: "2022-12-15 13:35:19"
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"        
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []          
  /admin/base/ssp/medialist/page:
    post:
      tags:
        - base/ssp
      description: Page name is 'Media List'. Get data of media list page. 
      operationId: getMediaListPage
      requestBody:
        required: true
        description: media list page body
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  format: int64
                  example: 1
                size:
                  type: integer
                  format: int64
                  example: 20
                company_type:
                  type: integer
                  format: int64
                  example: 0
              required:
                - page
                - size  
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            createTime: 
                              type: string
                              example: "2022-12-15 13:35:19"
                            mid: 
                              type: integer
                              format: int64
                              example: 1 
                            name:
                              type: string
                              example: "Smart Connect"
                            status:
                              type: integer
                              format: int64
                              example: 0
                            type:
                              type: integer
                              format: int64
                              description: 0=oRTB 1=Max JS Tag 2=Max VAST Wrapper 3=SDK 4=VAST AD Tag URI 5=GAM JS Tag 6=GAM VAST AD Tag URL
                              example: 0
                            os:
                              type: integer
                              format: int64
                              description: 1=iOS 2=Android 3=All 4=CTV 5=Web
                              example: 1     
                            updateTime:
                              type: string 
                              example: "2022-12-15 13:35:19" 
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int64
                            example: 1  
                          size:
                            type: integer
                            format: int64
                            example: 20   
                          total:
                            type: integer
                            format: int64
                            example: 6 
        '400':
          description: Invalid tag value
      security:
        - bearerAuth: []   
  /admin/base/ssp/medialist/info:
    get:
      tags:
        - base/ssp
      description: Returns a single medialist data
      operationId: getMediaListDataById
      parameters:
        - name: id
          in: query
          description: ID of Media list to return
          required: true
          schema:
            type: integer
            format: int64  
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '400':
          description: Invalid ID supplied   
      security:
        - bearerAuth: []        
  /admin/base/ssp/medialist/add:
    post:
      tags:
        - base/ssp
      description: add data of media list page.
      operationId: addMediaListData
      requestBody:
        required: true
        description: add media list data body
        content:
          application/json:
            schema:
              type: object
              properties:
                gid:
                  type: integer
                  format: int64
                  example: 3 
                name:
                  type: string
                  example: "Smart Connect"
                api:
                  type: integer
                  format: int64
                  description: 1=CUSTOMER 2=RTB2.3 3=RTB2.5
                  example: 1 
                status:
                  type: integer
                  format: int64
                  example: 0
                pubid:
                  type: integer
                  format: int64
                  description: Label for company. 
                  example: 11
                store_url:
                  type: string
                  example: "https://play.google.com/store/apps/details?id=com.ksmobile.launcher"            
                bundle:
                  type: string
                  example: "com.ksmobile.launcher"
                type:
                  type: integer
                  format: int64
                  description: 0=oRTB 1=Max JS Tag 2=Max VAST Wrapper 3=SDK 4=VAST AD Tag URI 5=GAM JS Tag 6=GAM VAST AD Tag URL
                  example: 0
                os:
                  type: integer
                  format: int64
                  description: 1=iOS 2=Android 3=All 4=CTV 5=Web
                  example: 1     
                crid:
                  type: string
                  example: "1209_9524236|28466836276" 
                level:
                  type: integer
                  format: int64
                  description: 1=A-Good Direct 2=B-Bad Diret 3=C-Good Pure SSP 4=D-Bad Pure SSP 5=E-Good Reseller SSP 6=F-Bad Reseller SSP
                  example: 1
                company_type:
                  type: integer
                  format: int64
                  description: 0=oRTB 1=DIRECT.  Media List is 0. 
                  example: 0
                block_ad_without_adomain:
                  type: integer
                  format: int64
                  example: 0
                block_ad_without_crid:
                  type: integer
                  format: int64
                  example: 0    
                block_domain:
                  type: string
                  example: "1209_9524236|28466836276" 
                block_adm_domain:
                  type: string
                  example: "1209_9524236|28466836276" 
                burl_field:
                  type: integer
                  format: int64
                  description: 0=Disable 1=Enable. Display if type = oRTB
                  example: 1  
              required:
                - name
                - os    
                - company_type
                - pubid
                - type 
                - gid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      id: 1          
        '400':
          description: Invalid tag value    
      security:
        - bearerAuth: []   
  /admin/base/ssp/medialist/delete:
    post:
      tags:
        - base/ssp
      description: Deletes media list data
      operationId: deleteMediaList
      requestBody:
        required: true
        description: ids that need to be deleted
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int64
                    example: 15
            
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
      security:
        - bearerAuth: []
  /admin/base/ssp/medialist/update:
    post:
      tags:
        - base/ssp
      description: update data of media list page.
      operationId: updateMediaListData
      requestBody:
        required: true
        description: update media list data body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaList'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"        
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: [] 
  /admin/base/directpub/application/page:
    post:
      tags:
        - base/directpub
      description: Page name is 'Application'. Get data of application page. 
      operationId: getApplicationPage
      requestBody:
        required: true
        description: application page body
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  format: int64
                  example: 1
                size:
                  type: integer
                  format: int64
                  example: 20
                company_type:
                  type: integer
                  format: int64
                  example: 0
              required:
                - page
                - size  
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            createTime: 
                              type: string
                              example: "2022-12-15 13:35:19"
                            mid: 
                              type: integer
                              format: int64
                              example: 1 
                            name:
                              type: string
                              example: "Smart Connect"
                            status:
                              type: integer
                              format: int64
                              example: 0
                            type:
                              type: integer
                              format: int64
                              description: 0=oRTB 1=Max JS Tag 2=Max VAST Wrapper 3=SDK 4=VAST AD Tag URI 5=GAM JS Tag 6=GAM VAST AD Tag URL
                              example: 0
                            os:
                              type: integer
                              format: int64
                              description: 1=iOS 2=Android 3=All 4=CTV 5=Web
                              example: 1     
                            updateTime:
                              type: string 
                              example: "2022-12-15 13:35:19" 
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int64
                            example: 1  
                          size:
                            type: integer
                            format: int64
                            example: 20   
                          total:
                            type: integer
                            format: int64
                            example: 6 
        '400':
          description: Invalid tag value
      security:
        - bearerAuth: []   
  /admin/base/directpub/application/info:
    get:
      tags:
        - base/directpub
      description: Returns a single application data
      operationId: getApplicationDataById
      parameters:
        - name: id
          in: query
          description: ID of Application to return
          required: true
          schema:
            type: integer
            format: int64  
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: Invalid ID supplied   
      security:
        - bearerAuth: []        
  /admin/base/directpub/Application/add:
    post:
      tags:
        - base/directpub
      description: add data of application page.
      operationId: addApplicationData
      requestBody:
        required: true
        description: add application data body
        content:
          application/json:
            schema:
              type: object
              properties:
                gid:
                  type: integer
                  format: int64
                  example: 3 
                name:
                  type: string
                  example: "Smart Connect"
                api:
                  type: integer
                  format: int64
                  description: 1=CUSTOMER 2=RTB2.3 3=RTB2.5
                  example: 1 
                status:
                  type: integer
                  format: int64
                  example: 0
                pubid:
                  type: integer
                  format: int64
                  example: 11
                store_url:
                  type: string
                  example: "https://play.google.com/store/apps/details?id=com.ksmobile.launcher"            
                bundle:
                  type: string
                  example: "com.ksmobile.launcher"
                type:
                  type: integer
                  format: int64
                  description: 0=oRTB 1=Max JS Tag 2=Max VAST Wrapper 3=SDK 4=VAST AD Tag URI 5=GAM JS Tag 6=GAM VAST AD Tag URL
                  example: 0
                os:
                  type: integer
                  format: int64
                  description: 1=iOS 2=Android 3=All 4=CTV 5=Web
                  example: 1     
                crid:
                  type: string
                  example: "1209_9524236|28466836276" 
                level:
                  type: integer
                  format: int64
                  description: 1=A-Good Direct 2=B-Bad Diret 3=C-Good Pure SSP 4=D-Bad Pure SSP 5=E-Good Reseller SSP 6=F-Bad Reseller SSP
                  example: 1
                company_type:
                  type: integer
                  format: int64
                  description: 0=oRTB 1=DIRECT.  Media List is 0. 
                  example: 0
                block_ad_without_adomain:
                  type: integer
                  format: int64
                  example: 0
                block_ad_without_crid:
                  type: integer
                  format: int64
                  example: 0    
                block_domain:
                  type: string
                  example: "1209_9524236|28466836276" 
                block_adm_domain:
                  type: string
                  example: "1209_9524236|28466836276" 
                burl_field:
                  type: integer
                  format: int64
                  description: 0=Disable 1=Enable. Display if type = oRTB
                  example: 1  
                app_domain:
                  type: string
                  example: "https://www.lucidpix.com/"
                app_type:
                  type: integer
                  format: int64
                  description: 1=Owned & Operated 2=Non Owned & Operated
                  example: 1  
                block_ad_without_category:
                  type: integer
                  format: int64
                  example: 0
                block_category:  
                  type: string
                  description: multiple select.
                  example: "IAB1|IAB1-1"   
              required:
                - name
                - os    
                - company_type
                - pubid
                - type 
                - gid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
                    data: 
                      id: 1          
        '400':
          description: Invalid tag value    
      security:
        - bearerAuth: []   
  /admin/base/directpub/Application/delete:
    post:
      tags:
        - base/directpub
      description: Deletes application data
      operationId: deleteApplication
      requestBody:
        required: true
        description: ids that need to be deleted
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int64
                    example: 15
            
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                  message:
                    type: string
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"  
      security:
        - bearerAuth: []
  /admin/base/directpub/application/update:
    post:
      tags:
        - base/directpub
      description: update data of application page.
      operationId: updateApplicationData
      requestBody:
        required: true
        description: update application data body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                code1000:
                  value: 
                    code: 1000
                    message: "success"        
        '400':
          description: Invalid tag value  
      security:
        - bearerAuth: []    
  /admin/base/ssp/mediaposid/page:
    post:
      tags:
        - base/ssp
      description: Page name is 'Media Posid'. Get data of media posid page. 
      operationId: getMediaPosidPage
      requestBody:
        required: true
        description: media posid page body
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  format: int64
                  example: 1
                size:
                  type: integer
                  format: int64
                  example: 20
                company_type:
                  type: integer
                  format: int64
                  example: 0
              required:
                - page
                - size  
              
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int64
                    example: 1000
                  message:
                    type: string
                    example: "success"
[...]
